body{
    background-image: radial-gradient(
        circle,
        blue 10%,
        transparent 11%
      );
      background-size: 30px 30px; /* Adjust the size of the dots */
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
line-height: 1.6;
}
@keyframes imageanimate
 {
  0% {
    margin-left: 5px;
  }
  10% {
    margin-left: 10px;
  }
  20% {
    margin-left: 15px;
  }
  30% {
    margin-left: 20px;
  }
  40% {
    margin-right: 25px;
  }
  50% {
    margin-left: 30px;
    transform: rotate(360deg);
  }
  60% {
    margin-right: 25px;
  }
  70% {
    margin-right: 20px;
  }
  80% {
    margin-right: 15px;
  }
  90% {
    margin-right: 10px;
  }
  100% {
    margin-right: 5px;
  }
}
img#smile
{
  animation-name: imageanimate;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
a#return
{
box-shadow: 5px 5px 0px 0px darkblue;
padding: 10px;
border-radius: 10px;
margin: 20px 10px;
color:black;
}
.button:hover
{
  background-image:linear-gradient(to right, lightblue, darkblue);
  cursor: pointer;
}
div#volleyball
{
    padding:25px;
    position: relative;
    margin: 50px 10px;
    background-image: linear-gradient(to right, lightblue, darkblue);
    border-radius: 50px;
}
div#exercise
{
    padding:25px;
    position: relative;
    margin: 50px 10px;
    background-image: linear-gradient(to right, lightblue, darkblue);
    border-radius: 50px;
}
div#music
{
    padding:25px;
    position: relative;
    margin: 50px 10px;
    background-image: linear-gradient(to right, lightblue, darkblue);
    border-radius: 50px;
}
div#art
{
    padding:25px;
    position: relative;
    margin: 50px 10px;
    background-image: linear-gradient(to right, lightblue, darkblue);
    border-radius: 50px;
}
div#gaming
{
    padding:25px;
    position: relative;
    margin: 50px 10px;
    background-image: linear-gradient(to right, lightblue, darkblue);
    border-radius: 50px;
}