p
{
 font-size:25px;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue; 
  background-image:repeating-linear-gradient(45deg,transparent,transparent 5px, rgba(0,0,0,0.1)5px,rgba(0,0,0,0.1)10px);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.6;
}

header {
  padding: 25px;
  background-image: linear-gradient(to right, lightgreen,lightblue);
  color: green;
  margin: 50px 10px;

  justify-content: center;
  align-items: center;
}
@keyframes imageanimate
 {
  0% {
    margin-left: 5px;
  }
  10% {
    margin-left: 10px;
  }
  20% {
    margin-left: 15px;
  }
  30% {
    margin-left: 20px;
  }
  40% {
    margin-right: 25px;
  }
  50% {
    margin-left: 30px;
    transform: rotate(360deg);
  }
  60% {
    margin-right: 25px;
  }
  70% {
    margin-right: 20px;
  }
  80% {
    margin-right: 15px;
  }
  90% {
    margin-right: 10px;
  }
  100% {
    margin-right: 5px;
  }
}
img#smile
{
  animation-name: imageanimate;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

nav {
  background-color: lightgreen;
  color: green;
  padding: 10px;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

.main-content {
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr; 
  gap: 20px;
}
section#about
{
padding:25px;
position: relative;
margin: 50px 10px;
background-image: linear-gradient(to right, lightblue, darkblue);
border-radius: 50px;
}
section#hobbies
{
padding:25px;
position: relative;
margin: 50px 10px;
background-image: linear-gradient(to right, lightblue, darkblue);
border-radius: 50px;
}
section#favorites
{
padding:25px;
position: relative;
margin: 50px 10px;
background-image: linear-gradient(to right, lightblue, darkblue);
border-radius: 50px;
}
article#contact
{
padding:25px;
position: relative;
margin: 50px 10px;
background-image: linear-gradient(to right, lightblue, darkblue);
border-radius: 50px;
}

@media (max-width: 768px) {
  .main-content {
    grid-template-columns: 1fr; 
  }
}

.sidebar {
  background-color: #f9f9f9;
  padding: 10px;
  display: flex;
  flex-direction: column; 
}



footer {
  padding: 25px;
  background-image: linear-gradient(to right, lightgreen, lightblue);
  color: green;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  display: flex;
}
a#hobutton
{
box-shadow: 5px 5px 0px 0px darkblue;
padding: 10px;
border-radius: 10px;
margin: 20px 10px;
color:black;
border-radius:20px;
text-shadow:3px 3px 10px rgba(255,0,0,0.7);
}
a#favbutton
{
box-shadow: 5px 5px 0px 0px darkblue;
padding: 10px;
border-radius: 10px;
margin: 20px 10px;
color:black;
border-radius:20px;
text-shadow:3px 3px 10px rgba(255,0,0,0.7);
}
.button:hover
{
  background-image:linear-gradient(to right, lightblue, darkblue);
  cursor: pointer;
}
input#submit
{
box-shadow: 5px 5px 0px 0px darkblue;
padding: 10px;
border-radius: 10px;
margin: 20px 10px;
color:black;
border-radius:20px;
text-shadow:3px 3px 10px rgba(255,0,0,0.7);

}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
i#welcome
 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0078d4; 
  color: #fff;
  font-size: 24px;
  text-align: center;
  padding: 10px;
  animation: fadeOut 3s ease 1s forwards; 
}
@keyframes slideIn
{
  from{
    transform: translateX(-100%);
  }
  to
  {
    transform:translateX(0);
  }
}
h1#name
{
  animation:slideIn 1s ease forwards;
}
aside#sticky-sidebar
{
  position: sticky;
  top: 0;
}
img#smile
{
  filter: blur(1px)grayscale(50%)brightness(120%);
}
.tooltip {
  position: relative;
  display: inline-block;
}


.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}